
<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800 flex flex-col justify-between">
   <div>
       <div class="flex items-center pl-2.5 mb-5">
          <img src="../../../assets/docorga_logo.png" class="h-6 mr-3 sm:h-7" alt="Docorga Logo" />
       </div>
       <ul class="space-y-2 font-medium">
          <li>
             <a href="/professional/patients" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
                <span class="ml-3">Patients</span>
             </a>
          </li>
          <li (click)="logout()">
             <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z" clip-rule="evenodd"></path></svg>
                <span class="flex-1 ml-3 whitespace-nowrap">Se déconnecter</span>
             </a>
          </li>
       </ul>
   </div>
      <div>
         <div class="sm:block flex flex-col w-full mr-4 text-center">
            <a
               href="/professional/me"
               class="flex items-center justify-center rounded-full text-lg uppercase bg-teal-200 text-teal-600 dark:bg-teal-700 dark:text-teal-200 w-12 h-12 m-auto">
               {{(professional$|async)?.firstName.charAt(0)}} {{(professional$|async)?.lastName.charAt(0)}}
            </a>
            <a
               href="/professional/me"
               class="w-full whitespace-nowrap overflow-ellipsis overflow-hidden leading-normal text-current opacity-80">
               {{(professional$|async)?.firstName}} {{(professional$|async)?.lastName}}
            </a>
            <div
               href="/professional/me"
               class="w-full mt-0.5 whitespace-nowrap text-sm overflow-ellipsis overflow-hidden leading-normal text-current opacity-50">
               {{(professional$|async)?.email}}
            </div>
         </div>
      </div>
  </div>
</aside>

  