.search-results {
    max-width: 31em;
    width: 65%;
    margin: 2em auto 0 auto;
    background-color: white;
    border-radius: 2%;
    hr{
        border: none;
        height: 1px;
        background-color: lightgray;
    }
    p{
        margin: 1em 0;
        padding-left: 2em;
        .result {
            text-transform: capitalize;
            font-size: medium;
        }
    }
}